#pragma once
#define BLYNK_TEMPLATE_ID   "TMPLxxxxxxx"
#define BLYNK_TEMPLATE_NAME "ESP8266 Temp Controller"
#define BLYNK_AUTH_TOKEN    "YOUR_BLYNK_DEVICE_AUTH_TOKEN"
#define WIFI_SSID "YourWiFiName"
#define WIFI_PASS "YourWiFiPassword"
